body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 150px;
}

.header .logo {
    font-size: 24px;
    font-family: 'Roboto';
    color: #F9FAF8;
    font-weight: 900;
}

.header .link {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
    padding: 150px 150px;
    background-color: #1F2937;
}

.hero .text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FEF8;
}

.hero .subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px 0;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: 0;
    font-size: 18px;
    padding: 8px 12px;
}

.hero .image {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 150px;
}

.content .title {
    font-size: 42px;
    font-weight: 900;
    align-self: center;
    color: #1F2937;
    padding: 50px;
}

.content .info {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-shrink: 0;
}

.content .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    border: 5px solid #3882F6;
}

.content .text {
    text-align: center;
    font-size: 15px;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 150px;
    background-color: #e5e7eb
}

.quote .words {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote .quoted {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 75px;
}

.contact .card {
    display: flex;
    background-color: #3882F6;
    padding: 35px 90px;
    border-radius: 12px;
    justify-content: space-between;
    gap: 75px;
}

.contact .header {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    justify-content: flex-start;
    padding: 0;
}

.contact .subtext { 
    color: #F9FEF8;
}

.contact .button {
    border: 3px solid #F9FAF8;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    padding: 24px;
}
